@media (max-width: 1360px)
    .sidepanel
        display: none
@media (max-width: 1200px)
    .container
        max-width: 960px
    .about
        &__wrapper
            grid-template-columns: 400px 520px
            column-gap: 40px
        &__skills
            column-gap: 20px
            grid-template-columns: 245px 245px
            &-item
                grid-template-columns: 40px 195px
    .resume
        &__wrapper
            column-gap: 60px
            padding: 30px 35px 0 35px
            grid-template-columns: repeat(2, 410px)
    .skills
        &__items
            margin-top: 60px
            grid-template-columns: repeat(auto-fit, 270px)
            justify-content: space-around
            row-gap: 30px
    .portfolio
        &__works
            grid-template-columns: repeat(auto-fit, 280px)
            grid-auto-rows: 280px
            justify-content: space-around
            row-gap: 35px
            .plans, .mac
                grid-row: unset
                grid-column: unset
    .contacts
        padding-top: 90px
        &__wrapper
            padding: 0 20px 0 20px
            display: grid
            grid-template-columns: 350px 470px
            justify-content: unset
            column-gap: 20px
@media (max-width: 992px)
    .container
        max-width: 720px
    .title
        &_fs36
            font-size: 30px
    .about
        &__wrapper
            grid-template-columns: 300px 380px
        &__skills
            grid-template-columns: 380px
            grid-auto-rows: minmax(115px, auto)
            &-item
                grid-template-columns: 40px 315px
    .resume
        padding-top: 70px
        &__wrapper
            column-gap: 40px
            padding: 20px 25px 0 25px
            grid-template-columns: repeat(2, 315px)
    .skills
        &__items
            margin-top: 40px
    .contacts
        padding-top: 70px
        &__wrapper
            padding: 0 20px 0 20px
            display: grid
            grid-template-columns: 280px 380px
            justify-content: unset
            column-gap: 20px
        &__form
            margin-top: 20px
            grid-template: 45px 140px 45px / repeat(2, 200px)
            justify-content: space-between
        &__btn
            line-height: 14px
@media (max-width: 768px)
    .container
        max-width: 540px
    .title
        &_fs48
            font-size: 28px
    .promo
        &__title
            width: 300px
    .about
        padding-top: 40px
        &__wrapper
            grid-template: 340px auto auto / 1fr
        &__skills
            grid-template-columns: repeat(2, 260px)
            &-item
                grid-template-columns: 40px 200px
    .resume
        &__wrapper
            column-gap: 30px
            padding: 10px 15px 0 15px
            grid-template-columns: repeat(2, 240px)
        &__body
            padding-left: 20px   
            font-size: 12px
    .skills
        &__items
            margin-top: 40px
            justify-content: center
    .portfolio
        padding-top: 40px   
        &__works
            margin-top: 15px
    .contacts
        padding-top: 60px
        &__wrapper
            padding: 0 20px 0 20px
            display: grid
            grid-template-columns: 450px
            justify-content: unset
            column-gap: 20px
        &__photo
            display: none   
        &__form
            margin-top: 20px
            grid-template: 45px 140px 45px / repeat(2, 215px)
            justify-content: space-between  
@media (max-width: 576px)
    .container
        width: 100%
        padding: 0 10px
    .title
        &_fs48
            font-size: 26px
        &_fs36
            font-size: 24px
    .menu
        &__block
            width: 250px
            padding-left: 20px
    .about
        &__subtitle
            line-height: 36px
        &__wrapper
            grid-template: 400px auto auto / 1fr
        &__skills
            grid-template-columns: 1fr 
    .resume
        &__wrapper
            column-gap: 30px
            padding: 0 15px 
            grid-template: auto / 1fr
        &__body
            padding-left: 20px   
            font-size: 12px
    .skills
        &__items
            margin-top: 20px 
    .portfolio
        padding-top: 30px   
        &__works
            margin-top: 5px
    .contacts
        padding-top: 50px
        &__wrapper
            grid-template-columns: 270px 
            column-gap: 20px
        &__photo
            display: none   
        &__form
            grid-template: 45px 45px 140px 45px / 200px
        &__input
            grid-column: 1 / 3
        &__btn 
            grid-column: 1 / 3
            margin-bottom: 20px